/*---------- Stretch "RuNNer documentation" logo. ----------------------------*/
.md-header__button.md-logo img, .md-header__button.md-logo svg{
  width: 60%;
  height: 60%;
}

.md-header__button.md-logo {
  margin-right: -5%;
}

/*---------- Align icons and emojis correctly with text ----------------------*/
.twemoji {
  vertical-align: text-bottom !important
}

/*---------- Change color of keywords and IO file titles. --------------------*/
/* They are placed in code tags in h3 titles. */
.md-typeset h3 code:not(.focus-visible) {
    color: var(--md-accent-fg-color);
}

/*---------- Change code block background color ------------------------------*/
:root > * {
  --md-code-bg-color: #E6E6E6;
}

/*---------- Make mode description in IO files appear closer to title. -------*/
.md-typeset h3 {
  margin-bottom: -0.7rem;
}

/*---------- Resize LaTeX equations so that they fit the font more nicely ----*/
.MathJax {
font-size: 1.15em !important;
}

/*---------- Restyle the Mode icons in the reference section. ----------------*/
.no {
  color: red;
}
.yes {
  color: green;
}

/*--------- Make the keyword overview table span the entire page. ------------*/
/* Also, make it scrollable in y-direction so it is not too long.*/
.md-typeset__table {
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
}

.md-typeset table:not([class]) {
  display: inline-table;
}

/*---------- Make the hrule line a little bit more visible. ------------------*/
.md-typeset hr {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.11);
}

/*---------- Reduce margin for keyword explanations.--------------------------*/
.md-typeset dd {
    margin: 0.2em 0 1.5em 1.875em;
} 

.md-typeset dd p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
} 

.md-typeset dd ul{
    margin-top: 0.2em;
} 

.md-typeset dd ul dd{
    margin-top: 0.05em;
    margin-bottom: 0.1em;
} 

.md-typeset dd ul dl{
    margin: 0.2em 0;
} 

/*---------- Reduce margin for code in keywords.------------------------------*/

.md-typeset pre > code {
  margin-top: -0.5rem;
}

.md-clipboard {
  margin-top: -0.5rem;
}
